    body {
        font-family: "Open Sans";
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        font: 15px/1.5 "Open Sans", Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
    }
    
    li:last-child {
        border: none;
    }
    
    li a {
        text-decoration: none;
        color: #000;
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
        display: block;
        width: 200px;
    }
    
    li a:hover {
        color: red;
        background: #f6f6f6;
    }
    
    li.selected-layer a {
        color: red;
    }
    
    .leaflet-popup-content {
        width: 100% !important;
        margin: 12px 10px;
    }
    
    .leaflet-marker-icon,
    .leaflet-zoom-animated,
    .leaflet-interactive {
        margin-top: -22px!important
    }
    
    #layers {
        display: none;
    }
    
    #layers h2,
    #layers h2 a {
        color: #000;
        font-size: 1.5rem;
        margin-top: 8px;
        font-weight: 300;
    }
    
    #list,
    #list_realtime {
        height: 400px;
        width: 240px;
        overflow-y: scroll;
        overflow-x: hidden;
        background: white;
        position: absolute;
        left: 150px;
        top: 120px;
        z-index: 900;
        display: none;
        padding: 20px;
        border: 3px solid green;
    }
    
    #mapid {
        border-top: 1px solid #999;
        left: 0px;
        bottom: 20px;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 1;
    }
    
    #layer-link {
        color: white;
    }
    
    .header {
        color: black;
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20px;
        width: 100%;
    }
    
    .footer-text {
        text-align: right;
        padding-right: 10px;
    }
    
    .header-text {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        text-align: center;
        display: block;
        width: 100%;
    }
    
    .header-img {
        width: 80px;
    }
    
    .leaflet-popup-content {
        width: 600px!important;
    }
    
    #tabs {
        position: relative;
        min-height: 560px;
        clear: both;
        margin: 25px 0;
    }
    
    #tabs.buildings {
        min-height: 890px;
    }
    
    .tab {
        float: left;
        display: none;
        min-height: 505px;
        position: relative;
        width: 100%;
    }
    
    .tabsMain {
        float: left;
        display: none;
        min-height: 505px;
        position: relative;
        width: 100%;
    }
    
    #tabs ul li {
        position: relative;
        width: 22.5%;
    }
    
    #tabs ul {
        background: #eee;
        display: inline-block;
        padding: 10px;
        border: 1px solid #ccc;
        margin-left: -1px;
        position: relative;
        list-style-type: none;
        left: -10px;
        top: 1px;
        cursor: pointer;
        width: 100%;
    }
    
    #tabs ul li {
        background: #f8f8f8;
        float: left;
        margin: 0px;
        border: 1px solid #000;
        padding: 5px;
    }
    
    .tabContent {
        background: white;
        position: absolute;
        top: 28px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        border: 1px solid #ccc;
    }
    
    .tab:target {
        display: block;
    }
    
    select {
        color: #0078A8;
        border: 0;
    }
    
    .addRealTime.active,
    .awgr.active {
        font-weight: bold;
    }
    
    .sub {
        display: none;
    }
    
    .mainContainer {
        position: relative;
    }
    /* Animation */
    
    @keyframes open {
        from {
            right: -100vw;
        }
        to {
            right: 10px;
        }
    }
    
    #burgerbutton {
        display: none;
    }
    /* Im Produktiven Einsatz sollte der Text-Teil des Label-Elements vielleicht durch eine Hintergrund-Grafik ersetzt werden. */
    
    .burgerimage {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 28pt;
        cursor: pointer;
        transition: transform 0.8s ease;
        color: #000;
    }
    
    nav {
        display: block;
        height: 50px;
        border-bottom: 3px solid #000;
        position: fixed;
        top: 0;
        right: 8px;
        z-index: 100;
    }
    
    nav ul {
        display: none;
        position: fixed;
        top: 53px;
        margin: 0;
        padding: 0;
        width: auto;
        list-style: none;
        z-index: 2;
        right: 7px;
    }
    
    nav ul li {
        display: block;
        width: auto;
    }
    
    nav ul li a {
        text-decoration: none;
        color: red;
        background-color: #fff;
        border-bottom: 1px solid #000;
        display: block;
        padding: 20px;
        transition: background 0.5s ease;
    }
    
    nav ul li a:hover {
        background-color: #fff;
        color: darkred;
    }
    
    #burgerbutton:checked~ul {
        display: block;
        animation-name: open;
        animation-duration: 0.8s;
    }
    
    #burgerbutton:checked~.burgerimage {
        transform: rotate(360deg);
    }